table {
    width: 100%;
    position: relative;
  }

.main_content {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
  }